[core]
  editor = vim
  autocrlf = input
  quotepath = false
[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = green
  changed = yellow
  untracked = cyan
[alias]
  st = status
  ci = commit -am
  br = branch
  co = checkout
  df = diff
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit --all

[user]
	name = bminde
	email = 8491+bminde@users.noreply.github.com
[filter "media"]
  required = true
  clean = git media clean %f
  smudge = git media smudge %f
[push]
  default = simple
[mergetool]
  keepBackup = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  required = true
  process = git-lfs filter-process
[pager]
  branch = false
[merge]
  tool = smerge
[pull]
  rebase = true
